## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [3]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [21]:

x[x.find('DiChl'):].lower().capitalize().replace(' ', '')

'Dichlorodiphenyltrichloroethane'

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [24]:
A, B, C, D = 'word',15,3.14, 'list'
print(A,B,C,D)

word 15 3.14 list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [326]:
w,h = input('please enter your weight and hight in kg and meter').split()
#w, h = float(w_h.split(' ')[0]), float(w_h.split(' ')[1])


BMI = float(w)/(float(h)**2)
print(BMI)

20.902385858042937

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [30]:
if BMI < 18.5:
    print('Underweight')
elif BMI < 25:
    print('Normal weight')
elif BMI < 30:
    print('Pre-obesity')
elif BMI < 35:
    print('Obesity class 1')
elif BMI < 40:
    print('Obestity class 2')
else:
    print('Obestity')

Normal weight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [33]:
factorial = 1
number = int(input('please give a number'))
for x in range(1, number+1):
    factorial *= x

print(factorial)

120

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [327]:
l1 = []
i = 0
while i != -1:
    i = int(input('enter an integer pls'))
    l1.append(i)

print(sum(l1[:len(l1)-1]))

19

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [104]:
import math

def calc_salary(first_name, worked_h, pay_h):
    return round(worked_h*pay_h,2)

calc_salary('Hannes', 80,15)

1200

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [49]:
A,B,C = 3.0,5.0,7.0

    a) the area of the triangle rectangle with A as the base and C as the height.

In [37]:
area = A*C/2
print(area)

10.5

    b) the area of the circle of radius C. (pi = 3.14159)

In [328]:
area = C**2*3.14159
print(area)

153.93791

    c) the area of the trapezoid that has A and B for bases and C for height.

In [45]:
area = (B + ((A-B)/2))*C
Area = (A+B)/2 * C
print(area)
print(Area)

28.0
28.0

    d) the area of the square that has side B.

In [47]:
area = B**2
print(area)

25.0

    e) the area of the rectangle that has sides A and B.

In [329]:
area = B*A
print(area)

15.0

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [74]:
import math
def roots(a,b,c):
    try:
        x1 = -b + math.sqrt((b**2 - (4*a*c)))/(2*a)
        x2 = -b - math.sqrt((b**2 - (4*a*c)))/(2*a)
        print(x1,x2)
    except:
        print('there are no real roots')

roots(1,0,-4)

there are no real roots

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [71]:
def distance(a,b):
    x1, y1 = float(a.split(' ')[0]), float(a.split(' ')[1])
    x2, y2 = float(b.split(' ')[0]), float(b.split(' ')[1])
    return math.sqrt((x1-x2)**2 +(y1-y2)**2)

print(distance('1 1', '2 2'))

1.4142135623730951

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [126]:
def quadrants(x,y):
    if (x and y) == 0.0:
       print('origin')
    elif  x == 0.0 and y != 0.0:
        print('x axis')
    elif x != 0.0 and y == 0.0:
        print('y axis')
    elif x > 0 and y > 0:
        print('q1')
    elif x < 0 and y > 0:
        print('q2')
    elif x < 0 and y < 0:
        print('q3')
    elif x > 0 and y < 0:
        print('q4')

quadrants(0.0, 0.0)

origin

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [235]:
import pandas as pd
import time
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country code
0          Austria           43
1          Belgium           32
2         Bulgaria          359
3          Croatia          385
4           Cyprus          357
5   Czech Republic          420
6          Denmark           45
7          Estonia          372
8          Finland          358
9           France           33
10         Germany           49
11          Greece           30
12         Hungary           36
13         Iceland          354
14         Ireland          353
15           Italy           39
16          Latvia          371
17   Liechtenstein          423
18       Lithuania          370
19      Luxembourg          352

In [251]:



#df_country = df[['Country']]
#df_code = df[['Country code']]
def find_country(calling_code):
    i = 0
    for x in df.get('Country code'):
        code = int(df.loc[i]['Country code'])
        if code == calling_code:
            print(df.loc[i]['Country'])
            return None
        i += 1
    print('number was not found')
t0 = time.time()
find_country(370)
runtime = time.time() - t0
print(runtime)

Lithuania
0.002180814743041992

In [261]:
def find_country(calling_code):
    i = 0
    for x in df.get('Country code'):
        if int(x) == calling_code:
            print(df.get('Country')[i])
            return None
        i +=1


t0 = time.time()
find_country(370)
runtime = time.time() - t0
print(runtime)

Lithuania
0.00011086463928222656

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [334]:
def nmbr_reader(l1 = [float(x) for x in input('enter 6 integers').split(' ')]):
   # l1 = [n1,n2,n3,n4,n5,n6]
    positive_values = []
    for x in l1:
        if x > 0:
            positive_values.append(x)
    print(len(positive_values))
    avg = round(sum(positive_values)/len(positive_values), 1)
    print(f"the average is {avg}")

nmbr_reader()

1
the average is 1312.0

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [297]:
def squarer(N):
    for x in range(0, N+1):
        if x%2 == 0:
          print(x**2)
    return None

squarer(9)

0
4
16
36
64

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [301]:
def even_odd(n = int(input('please enter a number'))):
    if n == 0:
        print('null')
    elif n%2 == 0 and n > 0:
        print('even positive') 
    elif n%2 == 0 and n < 0:
        print('even negative')
    elif n%2 != 0 and n < 0:
        print('odd negative')
    elif n%2 != 0 and n > 0:
        print('odd positive')

even_odd()

even negative

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.

In [364]:
import random
sixrandom = []
for x in range(0,6):
    sixrandom.append(random.randint(1,10))

print(sixrandom)


def bubblesort(l1 = []):
    ph = 0
    for x in range(0,5):
        for y in range(0,5):
            if l1[y] > l1[y+1]:
                ph = l1[y+1]
                l1[y+1] = l1[y]
                l1[y] = ph
    print(l1)

bubblesort(sixrandom)

[2, 2, 4, 8, 9, 5]
[2, 2, 4, 5, 8, 9]